
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
header{
    background-color: aqua;
}
section{
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

@media (max-width: 768px) {
    nav{
        position: absolute;
        bottom: 0;
        background-color: aqua;
        width: 80%;
        border-radius: 5px 5px 0 0;
    }
    nav ul{
        justify-content: space-evenly;
        padding: 20px 5px;
        
    }
    
}